<mat-card>
    <h2 class="text-success">Signup </h2>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form  (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input name="email" ngModel matInput type="email"  placeholder="E-mail" #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">please enter a valid email.</mat-error>
      </mat-form-field>
      
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
      <mat-form-field>
       <input name="password" type="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required >
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Signup</button>
    </form>
  </mat-card>
  